body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.app {
  min-height: 100vh;
  padding: 40px 20px;
  text-align: center;
  color: white;
  transition: 0.3s;
}

/* тёмная тема */
.app.dark {
  filter: brightness(0.8);
}

.title {
  margin-bottom: 20px;
}

.container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 30px;
}

/* кнопка темы */
.theme-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 8px 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

/* текст кликов */
.click-info {
  margin-top: 10px;
  font-size: 18px;
}